@model GooMeppelUkraine.Web.Models.Article

<h2>Create</h2>

<form method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Meta Title</label>
        <input class="form-control" asp-for="MetaTitle" />
    </div>

    <div class="mb-3">
        <label class="form-label">Meta Description</label>
        <textarea class="form-control" asp-for="MetaDescription" rows="2"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" asp-for="Content" rows="8"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Language</label>
         <select class="form-select" asp-for="Language">
            <option value="uk">UA</option>
            <option value="en">EN</option>
            <option value="nl">NL</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
