@{
    ViewData["Title"] = "NotFound";
    ViewData["MetaDescription"] = "Long-term shelter for Ukrainian refugees in Meppel.";
}

<h1>404</h1>
<p>Page not found.</p>
<a class="btn btn-outline-primary" href="/">Go Home</a>
